/* @font-face {
    font-family: NotoSansDisplayLight;
    src: url('../src/NotoSansDisplay-Light.ttf');
}
@font-face {
    font-family: RobotoThin;
    src: url('../src/Roboto-Thin.ttf');
}
@font-face {
    font-family: RobotoLight;
    src: url('../src/Roboto-Light.ttf');
}
@font-face {
    font-family: NotoSansThin;
    src: url('../src/NotoSans-Thin.ttf');
} */
@font-face {
    font-family: UbuntuMonoRegular;
    src: url('../src/fonts/UbuntuMono-Regular.ttf');
}
/* @font-face {
    font-family: NotoSansLight;
    src: url('../src/NotoSans-Light.ttf');
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    position: absolute;
    background: black;
    font-family: UbuntuMonoRegular;
    color: white;
}
div#wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: url('../src/bg.png') no-repeat center center / cover; */
}
canvas{
    outline: none;
}
.item{
    background: transparent;
}
.item:hover{
    background: #10f87122;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: #10f87155;
}
::-webkit-scrollbar-thumb:hover{
    background: #10f871ee;
}